<h3>General info</h3>

<!-- I think the issue here is that the form_for looks for the plural version of the object. 
	 However since I've declared a singular resource :club, the path helper method is never created. -->

<%= form_for(@club, url: club_user_club_path) do |f| %>
	<div class="field">
		<%= f.label :club_name %>
		<%= f.text_field :club_name %>
	</div>

	<div class="field">
		<%= f.label :sport %>
		<%= f.text_field :sport %>
	</div>

	<div class="field">
		<%= f.label :address %>
		<%= f.text_field :address %>
	</div>
	
	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>